@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-field-label {
    @include textStyle($primary-color-Instock-Black, 0.8125rem, 1.25rem, 600);
    margin-bottom: 0.25rem;
}

.form-field-textarea {
    overflow:hidden;
    height: 120px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid $secondary-color-Cloud;
    margin-bottom: 1rem;
    resize: none;

    &--error {
        border: 1px solid $supporting-color-Red;
    }

    @include tablet {
        margin-bottom: 1.5rem;
    }

    &--last {
        @include tablet {
            margin-bottom: 0.5rem;
        }
    }

    &::placeholder {
        @include textStyle($secondary-color-Slate, 0.8125rem, 1.25rem, 400);
    }

    &:focus {
        border: none;
        outline: 1px solid $primary-color-Instock-Indigo;
    }
}

.form-field-error {
    display: none;
    border: none;

    &--show {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 0.75rem;

        @include tablet {
            bottom: 1.25rem;
        }

        &--last {
            @include tablet {
                bottom: 0.25rem;
            }
        }
    }

    &__icon {
        margin-right: 0.25rem;
    }

    &__message {
        @include textStyle($supporting-color-Red, 0.75rem, 1.125rem, 400);
    }
}