//breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//colour variables
$primary-color-Instock-Black: #13182C;
$primary-color-Instock-Indigo: #2E66E5;
$primary-color-White: #FFFFFF;

$secondary-color-Slate: #5C667E;
$secondary-color-Cloud: #BDC5D5;

$background-color-Graphite: #232940;
$background-color-Light-Grey: #F7F8F9;

$supporting-color-Green: #158463;
$supporting-color-Red: #C94515;


